@namespace StockPortfolioTracker.Web.Components
@inherits AddStockModalBase

<div class="modal fade" @ref="RefToAddStockModal" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="labelAddStock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <EditForm Model="@StockNeedToAdd" OnValidSubmit="AddStockToPortfolio" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelAddStock">Add Stock</h5>
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if(!string.IsNullOrEmpty(ErrorMessage))
                    {
                        <MessageBox Message="@ErrorMessage" MessageStyleClass="@BootstrapStyles.BackgroundDanger"/>
                    }
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="inputStockName" class="form-label">Stock Name</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control autocomplete" id="inputStockName" name="inputStockName" placeholder="Enter Stock Name..." @ref="RefToSmartSearch" @oninput="@StockSmartSearch"/>
                                <input type="hidden" id="addStockSmartSearchValue" @bind="@StockNeedToAdd!.Symbol"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="inputQuantity" class="form-label">Quantity</label>
                            <input type="number" id="inputQuantity" class="form-control" @bind="StockNeedToAdd!.Quantity" />
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="inputBuyPrice" class="form-label">Buy Price</label>
                            <input type="number" id="inputBuyPrice" class="form-control" step=".01" @bind="StockNeedToAdd.BuyPrice"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>