@namespace StockPortfolioTracker.Web.Components
@inherits RemoveStockModalBase

<div class="modal fade" @ref="RefToRemoveStockModal" id="removeStockModal" tabindex="-1" role="dialog" aria-labelledby="labelRemoveStock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <EditForm Model="@StockNeedToRemove" OnValidSubmit="RemoveStockFromPortfolio" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelRemoveStock">Remove Stock</h5>
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if(!string.IsNullOrEmpty(ErrorMessage))
                    {
                        <MessageBox Message="@ErrorMessage" MessageStyleClass="@BootstrapStyles.BackgroundDanger"/>
                    }

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="inputRemoveStockName" class="form-label">Stock</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control autocomplete" id="inputRemoveStockName" name="inputRemoveStockName" placeholder="Enter Stock Name..." @ref="RefToSmartSearch" @oninput="@StockSmartSearch"/>
                                <input type="hidden" id="removeStockSmartSearchValue" @bind="@StockNeedToRemove!.Symbol"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="inputRemoveQuantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="inputRemoveQuantity" @bind="StockNeedToRemove!.Quantity"/>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="inputSellPrice" class="form-label">Sell Price</label>
                            <input type="number" class="form-control" id="inputSellPrice" @bind="StockNeedToRemove.SellPrice"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit">Remove</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>