# User Specific Files
.vs
*.user
/.vs/StockPortfolioTracker/v17/.suo
/.vs/StockPortfolioTracker/config/applicationhost.config

# Bin Files
*/bin
/MicroServices/Authentication/bin
/MicroServices/UserManagement/bin
/MicroServices/StockStatistics/bin
/MicroServices/Communication/bin
/MicroServices/Portfolio/bin

# Obj Files
*/obj
/MicroServices/Authentication/obj
/MicroServices/UserManagement/obj
/MicroServices/StockStatistics/obj
/MicroServices/Communication/obj
/MicroServices/Portfolio/obj

# Config Files
/StockStatistics/.config
/StockPortfolioTracker.ApiGateway/.config
/StockPortfolioTracker.Web/.config
/MicroServices/Authentication/.config
/MicroServices/UserManagement/.config
/MicroServices/Communication/.config
/MicroServices/Portfolio/.config

# Publish Config Files
/MicroServices/Authentication/Properties/PublishProfiles
/MicroServices/UserManagement/Properties/PublishProfiles
/StockPortfolioTracker.ApiGateway/Properties/PublishProfiles
/StockPortfolioTracker.Web/Properties/PublishProfiles
/.vs/StockPortfolioTracker/FileContentIndex/read.lock

# Other Junk Files
*.pubxml
