# Visual Studio Configuration Files
.vs
/.vs/StockPortfolioTracker/v17/.suo

# Build Files
*/bin
*/obj
/MicroServices/Authentication/obj
/MicroServices/Authentication/bin

/MicroServices/UserManagement/bin
/MicroServices/UserManagement/obj
