@namespace StockPortfolioTracker.Web.Components

<div class="row text-center mb-3 div-center">
    <div class="card @MessageStyleClass text-white shadow">
        <div class="card-body text-center">
            @Message
        </div>
    </div>
</div>