/* Custom Styles */
/* Data Grid */
span.positiveValue {
	color: #1eb91e !important;
	font-weight: bold;
}

span.negativeValue {
	color: #ff0000 !important;
	font-weight: bold;
}

.div-center {
	margin: 0 auto;
}

.div-center > div {
	width: 100%;
}

/* NavBar */
.collapse.show {
	z-index: 999;
}

/* QuickGrid Overrides */
.quickgrid th, .quickgrid td {
	padding: 0.75rem !important;
}

.quickgrid[theme=default] button.col-title:hover, .quickgrid[theme=default] .col-options-button:hover {
	background: transparent !important;
}

.col-width-draghandle {
	opacity: 0;
}


/* Smart Search */
.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}